/* MDN REFERENCE: https://developer.mozilla.org/en-US/docs/Learn/CSS/Building_blocks/Values_and_units */

/* FONT IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* BASE STYLING - FONT and COLOUR */
body {
    background: #0f4c5c;
    font-family: "Lobster", sans-serif;
    font-optical-sizing: auto;
    font-weight: bolder;
    font-style: normal;
    color: white;
}


.intro {
    margin: auto;
    max-width: 80%;
    background: #07262d;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
}

.intro h1 {
    text-decoration: underline
}

.em {
    margin: 20px auto;
    max-width: 80%;
    background: #07262d;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
}

.em h2 {
    text-decoration: underline;
}

.rem {
    margin: 20px auto;
    max-width: 80%;
    background: #07262d;
    border-radius: 10px;
    padding: 50px;
    text-align: center;
}

.rem h2 {
    text-decoration: underline;
}