    .class1 {
      background-color: red;
      color: white;
      padding: 25px;
      text-align: center;
    }
   
    .class1:hover {
      background-color: blue;
      font-size: larger;
    }
 
    .class2:link {
      background-color: yellow;
    }